# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# ---- Virtual Environment ----
venv/
env/

# ---- System Files ----
.DS_Store
Thumbs.db

# ---- Model Files (large files >100MB should be ignored) ----
models/*.keras
models/*.h5

# ---- Uploaded Images ----
uploadimages/

# ---- VS Code ----
.vscode/

# ---- Cache ----
*.cache
